*{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body{
    margin: 10px 50px;
}
.para{
    font-size: 2rem;
    background-color: rgb(153, 201, 233);
    min-height: 100px;
    min-width: 100px;
    line-height: 4rem;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.para h2
{
    
    font-size: 3rem;
    font-weight: bold;
    color: rgb(251, 255, 0);
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.circle1,.circle2,.circle3
{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(rgb(7, 255, 234),rgb(0, 255, 106));
    box-shadow: 0px 10px 7px 3px red;
}
.flag
{
    width: 700px;
    height: 400px;
    background-color: green;
    position: relative;
}

.cir{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}